/* header */
.header nav h1 {
  float: none;
  text-align: center;
  margin-bottom: 10px;
}
.header nav ul {
  float: none;
  list-style: none;
}
.header nav ul li {
  float: none;
}
.header nav ul li a {
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
}
/* vp */
.vp-content{
    padding-top:70px
  }
  .vp-content h1{
    font-size: 40px;
  }
  .feature {
    float: left;
    width: 100%;
      
    border-radius: 10px;
    
  }
  .separator-feature {
    background-color: #333;
    width: 200px;
    height: 3px;
    margin: auto;
  }
  .container {
    max-width: 1000px;
    display:flex;
    flex-direction: column; 
    margin: auto;
    justify-content: center space-around;
    align-items: center;
   
    
  }
  .features {
    padding: 100px 0px 100px 0px;
    overflow: auto;
    text-align: center;
    
  }
  .where{
    overflow: auto;
    padding: 35px 0px 100px 0px;
    min-height: 80vh;
}
  .where-img{
    width: 85%;
    

}
.whare-text{
    float: right;
    width: 85%;
}
.underline{
    width:275 px
}
.container-from-cotact{
    max-width: 400px;
    margin: auto;
}
.contact{
  padding:25px 0 25px 0;
  margin:0 10px 0 10px;
  display: flex;
  justify-content:center;
  align-items: center;
}
button{
    margin-left: 35%;
}
.contact h1{
    font-size: 40px;
    text-align: center;
}


